<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    {% assets "scss_all" %} <link rel=stylesheet type=text/css href="{{
    ASSET_URL }}"> {% endassets %}
    <meta charset="UTF-8" />
    <title>My Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    {% block content -%}
    {% include "navBar.html" %}
    {%- endblock content %}
  </body>

  <div class="about-section">
    <h1 id="about-title">About Us</h1>
    <p>The GPX Visualizer was created in part by Joe Muzina, James Meyer, Parker Fisher, Adam Petrich and Anothony Moore</p>
    <p>Its goal was to reach Strava users around the globe giving them the ability to share their runs in a new and innovative way</p>
    <p><a class="button btn button-custom hello-button" href="https://github.com/joemuzina/Capstone" target = "_blank" >Link To Project Github</a></p>
  </div>
  
  <h2 class="our-team-title">Our Team</h2>
  <div class="row about-container">
    <div class="column">
      <div class="card">
        <!--Could add picture of each person here -->
        <div class="crop">
            <img src="../static/profile-images/joe.jpg" alt = "James">
        </div>

        <div class="container">
            
          <h2>Joe Muzina</h2>
          <p class="title">Back-End Developer</p>
          <p>jmuzina@kent.edu</p>
          <p><a class = "button btn button-custom hello-button" href="https://github.com/joemuzina" target = "_blank" >Github</a></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="crop">
            <img src="../static/profile-images/james.jpg" alt = "James">
        </div>
        <div class="container">
          <h2>James Meyer</h2>
          <p class="title">Front End Developer</p>
          <p>jmeyer38@kent.edu</p>
          <p><a class = "button btn button-custom hello-button" href="https://github.com/jamesmeyer1021" target = "_blank" >Github</a></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="crop">
            <img src="../static/profile-images/parker.jpg" alt = "James">
        </div>
        <div class="container">
          <h2>Parker Fisher</h2>
          <p class="title">Front End Developer</p>
          <p>pfishe13@kent.edu</p>
          <p><a class = "button btn button-custom hello-button" href="https://github.com/pfishe13" target = "_blank" >Github</a></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="crop">
            <img src="../static/profile-images/parker.jpg" alt = "James">
        </div>
        <div class="container">
          <h2>Adam Petrich</h2>
          <p class="title">Back-End Developer</p>
          <p>apetric1@kent.edu</p>
          <p><a class = "button btn button-custom hello-button" href="https://github.com/apetric1" target = "_blank" >Github</a></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="crop">
            <img src="../static/profile-images/anthony.jpg" alt = "James">
        </div>
        <div class="container">
          <h2>Anthony Moore</h2>
          <p class="title">Front End Developer</p>
          <p>amoor131@kent.edu</p>
          <p><a class = "button btn button-custom hello-button" href="https://github.com/amoor131" target = "_blank" >Github</a></p>
        </div>
      </div>
    </div>
  </div>