<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    {% assets "scss_all" %} <link rel=stylesheet type=text/css href="{{
    ASSET_URL }}"> {% endassets %}
    <meta charset="UTF-8" />
    <title>My Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    {% block content -%}
    {% include "navBar.html" %}
    {%- endblock content %}
  </body>

  <div class="about-section">
    <h1>About Us Page</h1>
    <p>The GPX Visualizer was created in part by Joe Muzina, James Meyer, Parker Fisher, Adam Petrich and Anothony Moore</p>
    <p>Its goal was to reach Strava users around the globe giving them the ability to share their runs in a new and innovative way</p>
    <p><a class="button" href="https://github.com/joemuzina/Capstone">Link To Project Github</a></p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <!--Could add picture of each person here -->
        <div class="container">
          <h2>Joe Muzina</h2>
          <p class="title">Back-End Developer</p>
          <p>Something here</p>
          <p>Email: jmuzina@kent.edu</p>
          <p><a class = "button" href="https://github.com/joemuzina">Github</a></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src = "../static/IMG_4147.PNG" alt = "James" style="width:50%">
        <div class="container">
          <h2>James Meyer</h2>
          <p class="title">Front End Developer</p>
          <p>Something here</p>
          <p>Email: jmeyer38@kent.edu</p>
          <p><a class = "button" href="https://github.com/jamesmeyer1021">Github</a></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Parker Fisher</h2>
          <p class="title">Front End Developer</p>
          <p>Something here</p>
          <p>Email: pfishe13@kent.edu</p>
          <p><a class = "button" href="https://github.com/pfishe13">Github</a></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Adam Petrich</h2>
          <p class="title">Back-End Developer</p>
          <p>Something here</p>
          <p>Email: apetric1@kent.edu</p>
          <p><a class = "button" href="https://github.com/apetric1">Github</a></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Anthony Moore</h2>
          <p class="title">Front End Developer</p>
          <p>Something here</p>
          <p>Email: amoor131@kent.edu</p>
          <p><a class = "button" href="https://github.com/amoor131">Github</a></p>
        </div>
      </div>
    </div>
  </div>