<!DOCTYPE html>
<html lang="en">
    <head>
        <title>GPX Visualizer | Home</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% assets "scss_all" %}
        <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
        {% endassets %}
        <meta charset="UTF-8">
        <meta property="og:site_name" content="GPX Visualizer"/>
        <meta property="og:title" content="GPX Visualizer | Home"/>
        <meta property="og:description" content="Convert your Strava/.gpx activities into beautiful artisitic visualizations!"/>
        <meta property="og:url" content="https://capstone3.cs.kent.edu/"/>
        <title>My Page</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap"
        rel="stylesheet"
        />
        <script src="wait.js"></script>
        <script src="fileVerification.js"></script>
        <script src="resize.js"></script>
    </head>
    <body>
        {% block content -%}
        {% include "navBar.html" %}
        {%- endblock content %}

        <div class="main-body">
        <div class="main-container">
            <div class="main-content-container">
                <h1 class="main-title">GPX Visualizer</h1>
                <div class="container" id="login-buttons">
                    {% for networkName, networkData in networks.items() %}
                    <div id="{{networkName}}-login">
                        {% if networkData != False %}
                            <a button type="button" class="button-custom" id="Strava" href="https://{{networkData.strip('\"')}}">Login with {{networkName.title()}}</a>
                        {% else %}
                            <a button type="button" class="button-custom" id="Underarmour" disabled>{{networkName.title()}} unavailable</a>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <form id = "gpxUpload" action="/parameters" method="POST" enctype="multipart/form-data">
                        <h6>OR</h6>
                        <h5>Upload GPX Files</h5>
                        <input type="file" id="gpxFile" name="gpxFile" onchange="verifyGPXFile()" multiple>
                        <input type="submit" class="button-custom disabled-button" id="GPXSubmit" value="Submit GPX" disabled/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>

</html>