<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    {% assets "scss_all" %} <link rel=stylesheet type=text/css href="{{
    ASSET_URL }}"> {% endassets %}
    <meta charset="UTF-8" />
    <title>My Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <script src="activityFiltering.js"></script>
    <script src="fileVerification.js"></script>
  </head>

  <body>
    <div class="main-container">
      <form class="parameter-container" action="/generatePage" method="POST">
        <div
          class="parameter-button-container nav flex-column nav-pills"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <div class="fake-button hello-button">
            Hello, {{userData['firstname']}}
          </div>
          <!-- Activites tab-->
          <a
            class="button-custom parameter-button nav-link active"
            id="v-pills-activities-tab"
            data-toggle="pill"
            href="#v-pills-activities"
            role="tab"
            aria-controls="v-pills-activities"
            aria-selected="false"
            >Activities</a
          >
          <!-- Visual Type tab
          <a
            class="button-custom parameter-button nav-link"
            id="v-pills-visualtype-tab"
            data-toggle="pill"
            href="#v-pills-visualtype"
            role="tab"
            aria-controls="v-pills-visualtype"
            aria-selected="false"
            >Visual Type</a
          >
          -->
          <!-- Background tab-->
          <a
            class="button-custom parameter-button nav-link"
            id="v-pills-background-tab"
            data-toggle="pill"
            href="#v-pills-background"
            role="tab"
            aria-controls="v-pills-background"
            aria-selected="false"
            >Background</a
          >
          <!-- Draw Style tab-->
          <a
            class="button-custom parameter-button nav-link"
            id="v-pills-drawstyle-tab"
            data-toggle="pill"
            href="#v-pills-drawstyle"
            role="tab"
            aria-controls="v-pills-drawstyle"
            aria-selected="false"
            >Draw Style</a
          >
          <!-- Text tab
          <a
            class="button-custom parameter-button nav-link"
            id="v-pills-text-tab"
            data-toggle="pill"
            href="#v-pills-text"
            role="tab"
            aria-controls="v-pills-text"
            aria-selected="false"
            >Text</a
          >
          -->

          <!-- Generate Button -->
          <script type = "text/javascript">
            function doSelection() {
              // Reverse the selected IDs
              //const selectedActivitiesElement = document.getElementById("selectedActivities");
              //selectedActivitiesElement["value"] = Object.keys(selectedIDs).reverse().toString();
              //console.log(selectedActivitiesElement["value"]);
              //selectedActivitiesElement.setAttribute("value", selectedActivitiesElement["value"]);
            }
          </script>
          <input
            class="nav-link button-custom parameter-button generate-button disabled-button"
            id="generate-button"
            type="submit"
            value="Generate"
            onclick="doSelection()"
            disabled
          />
        </div>
        <!-- This div holds the content for each tab -->
        <div
          class="parameter-content-container tab-content"
          id="v-pills-tabContent"
        >
          <!-- Activity Tab Content -->
          <div
            class="tab-pane fade show active"
            id="v-pills-activities"
            role="tabpanel"
            aria-labelledby="v-pills-activities-tab"
          >
            <h3>Select your Activities</h3>
            <fieldset>
              <div class="row" id="dateFilters">
                <div class="col-md-4" style="padding-right: 0">
                  <label for="start"
                    >Start date:
                    <input
                      type="date"
                      id="start-date"
                      name="trip-start"
                      value="2018-07-22"
                      min="1970-01-01"
                      max="2022-12-31"
                    />
                  </label>
                </div>
                <div class="col-md-4" style="padding-left: 0">
                  <label for="end"
                    >End date: <span>&nbsp;</span>
                    <input
                      type="date"
                      id="end-date"
                      name="trip-start"
                      value="2022-04-22"
                      min="1970-01-01"
                      max="2022-12-31"
                    />
                  </label>
                </div>
                <div class="col-md-4">
                  <label for="activity" >Activity Type:
                    <select name="activity" id="activity-type">
                      <option value="all">All</option>
                      <option value="ride">Ride</option>
                      <option value="run">Run</option>
                      <option value="swim">Swim</option>
                      <option value="walk">Walk</option>
                      <option value="hike">Hike</option>
                      <option value="ski">Ski</option>
                    </select>
                  </label>
                </div>
              </div>
              <br />

              <label for="fname"
                >Keyword:
                <input type="text" id="keyword" name="keyword" value="" />
              </label>
              <br />
              <input
                id="selectedActivities"
                type="hidden"
                name="selectedActivities"
                value=""
                hidden
              />
            </fieldset>
            
              <script type="text/javascript">
                activities = pythonBridge({{activities|tojson}});
                const activitiesAsArray = Object.entries(activities);

                configureDateFields(pythonBridge({{startDate|tojson}}), pythonBridge({{endDate|tojson}}));  

                // After 0.2  secs, register input event listeners with all filter fields to live update activities table
                setTimeout(() => {
                  for (var i = 0; i < filterFieldIDs.length; ++i) {
                    waitForElement(filterFieldIDs[i], function()  {
                      document.getElementById(filterFieldIDs[i]).addEventListener("input", function() {
                        searchActivities(activitiesAsArray);
                      }, false);
                    })                  
                  }
                  searchActivities(activitiesAsArray);
                }, 200);
            </script>
            <div class = "scrollable-table-container">
              <table class = "table table-striped table-sm w-auto" id = "activitiesTable">
                <thead id = "activitiesTableHeader" hidden>
                  <tr>
                    <th class = "nameCell">Name</th>
                    <th class = "dateCell">Date</th>
                    <th class = "typeCell">Type</th>
                    <th class = "distanceCell">Distance</th>
                  </tr>
                </thead>
                <tbody id = "matchedActivities"></tbody>
              </table>
            </div>
          </div>

          <!-- Visual Type Tab Content -->
          <div
            class="tab-pane fade"
            id="v-pills-visualtype"
            role="tabpanel"
            aria-labelledby="v-pills-visualtype-tab"
          >
            <h3>Select Visual Type</h3>
          </div>
          <!-- Background Tab Content -->
          <div
            class="tab-pane fade"
            id="v-pills-background"
            role="tabpanel"
            aria-labelledby="v-pills-background-tab"
          >
            <h3>Select Background</h3>
            <div>
              <input
                type="color"
                id="backgroundColor"
                name="backgroundColor"
                value="#FFFFFF"
              />
              <label for="backgroundColor">Background Color</label>
              <label for="backgroundImage">Background Image:
                <input type="file" id="backgroundImage" name="backgroundImage" onchange="verifyBackgroundImage('backgroundImage')">
              </label>
            </div>
          </div>
          <!-- Draw Style Tab Content -->
          <div
            class="tab-pane fade"
            id="v-pills-drawstyle"
            role="tabpanel"
            aria-labelledby="v-pills-drawstyle-tab"
          >
            <h3>Select Draw Style</h3>
            <div id="gridlineSettings">
              <label for="displayGridLines"
                >Display Grid
                <input
                  type="checkbox"
                  id="displayGridLines"
                  name="displayGridLines"
                />
              </label>
              <br />
              <label for="gridlineThickness" hidden
                >Gridline Thickness
                <input
                  type="range"
                  min="1"
                  max="30"
                  value="5"
                  class="slider"
                  id="gridlineThickness"
                  name="gridlineThickness"
                />
              </label>
              <label for="gridlineColor" hidden
                >Grid Color
                <input
                  type="color"
                  id="gridlineColor"
                  name="gridlineColor"
                  value="#000000"
                />
                <br />
              </label>
              <script type="text/javascript">
                var gridCheckBox = document.getElementById("displayGridLines");
                var gridlineColorSelector =
                  document.getElementById("gridlineColor").parentNode;
                var gridlineThicknessSelector =
                  document.getElementById("gridlineThickness").parentNode;
                function gridChecked() {
                  console.log(gridCheckBox.checked);
                  gridlineColorSelector.hidden = !gridCheckBox.checked;
                  gridlineThicknessSelector.hidden =
                    gridlineColorSelector.hidden;
                }
                gridCheckBox.addEventListener("change", gridChecked, false);
              </script>
            </div>
            <label for="pathColor"
              >Path Color
              <input
                type="color"
                id="pathColor"
                name="pathColor"
                value="#000000"
              />
            </label>
            <br />
            <label for="pathThickness"
              >Path Thickness
              <input
                type="range"
                min="1"
                max="30"
                value="5"
                class="slider"
                id="pathThickness"
                name="pathThickness"
              />
            </label>
          </div>
          <!-- Text Tab Content -->
          <div
            class="tab-pane fade"
            id="v-pills-text"
            role="tabpanel"
            aria-labelledby="v-pills-text-tab"
          >
            <h3>Select Text Options</h3>
          </div>
        </div>
      </form>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

