<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    {% assets "scss_all" %} <link rel=stylesheet type=text/css href="{{
    ASSET_URL }}"> {% endassets %}
    <meta charset="UTF-8" />
    <title>My Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main-container">
        <div class="main-content-container"></div>
    <div
      class="nav flex-column nav-pills"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
    <div class="fake-button hello-button">Hello, {{userData['firstname']}} </div>
      <a
        class="nav-link button-custom parameter-button"
        id="v-pills-activities-tab"
        data-toggle="pill"
        href="#v-pills-activities"
        role="tab"
        aria-controls="v-pills-activities"
        aria-selected="false"
        >Activities</a
      >
      <a
        class="nav-link button-custom parameter-button"
        id="v-pills-profile-tab"
        data-toggle="pill"
        href="#v-pills-metric"
        role="tab"
        aria-controls="v-pills-metric"
        aria-selected="false"
        >Metric</a
      >
      <a
        class="nav-link button-custom parameter-button"
        id="v-pills-visualtype-tab"
        data-toggle="pill"
        href="#v-pills-visualtype"
        role="tab"
        aria-controls="v-pills-visualtype"
        aria-selected="false"
        >Visualtype</a
      >
      <a
        class="nav-link button-custom parameter-button"
        id="v-pills-color-tab"
        data-toggle="pill"
        href="#v-pills-color"
        role="tab"
        aria-controls="v-pills-color"
        aria-selected="false"
        >Color</a
      >
      <a
        class="nav-link button-custom parameter-button"
        id="v-pills-size-tab"
        data-toggle="pill"
        href="#v-pills-size"
        role="tab"
        aria-controls="v-pills-size"
        aria-selected="false"
        >Size</a
      >
      <a
        class="nav-link button-custom parameter-button"
        id="v-pills-title-tab"
        data-toggle="pill"
        href="#v-pills-title"
        role="tab"
        aria-controls="v-pills-title"
        aria-selected="false"
        >Title</a
      >
      <a
    class="nav-link button-custom parameter-button generate-button" href="/generatePage"
    >Generate</a
  >
    </div>
    <div class="tab-content" id="v-pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="v-pills-activities"
        role="tabpanel"
        aria-labelledby="v-pills-activities-tab"
      >
        activities
      </div>
      <div
        class="tab-pane fade"
        id="v-pills-metric"
        role="tabpanel"
        aria-labelledby="v-pills-metric-tab"
      >
        metric
      </div>
      <div
        class="tab-pane fade"
        id="v-pills-visualtype"
        role="tabpanel"
        aria-labelledby="v-pills-visualtype-tab"
      >
        visualtype
      </div>
      <div
        class="tab-pane fade"
        id="v-pills-color"
        role="tabpanel"
        aria-labelledby="v-pills-color-tab"
      >
        color
      </div>
      <div
        class="tab-pane fade"
        id="v-pills-size"
        role="tabpanel"
        aria-labelledby="v-pills-size-tab"
      >
        size
      </div>
      <div
        class="tab-pane fade"
        id="v-pills-title"
        role="tabpanel"
        aria-labelledby="v-pills-title-tab"
      >
        title
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
