html {
  font-size: 100%;
}

// Make body take full vertical space and hide overflow
body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  background-color: #f2f2f2;
  overflow-x: hidden;
}

h3 {
  font-size: 2.25rem;
}

.main-body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.navbar-container {
  position: absolute;
  width: 100vw;
}

.navbar {
  display: flex;
  top: 0;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background: white;
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.25);
  height: fit-content;

}

.nav-sub {
  display: flex;
  justify-content: space-between;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 123, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

ul {
  margin-bottom: 0;
}

.list-item {
  padding: 10px;
  list-style: none;
}

.nav-link {
  color: inherit;
  text-decoration: none;
}

.gpx-title {
  color: black;
  text-decoration: none !important;
}

.logo {
  max-height: 20vh;
}



// this is used for the centered inner box in the main page, and parameters page
.main-container {
  background-color: white;
  height: 62.5%;
  min-height: 432px;
  width: 60%;
  min-width: 768px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  /* this centers the main-container horizontally */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  flex-flow: column nowrap;
}

// this is used for the centered inner box in the main page, and parameters page
.main-container2 {
  background-color: white;
  height:62.5%;
  min-height: 432px;
  width: 60%;
  min-width: 768px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  /* this centers the main-container horizontally */
  display: flex;
  align-items: center;
  justify-content:center;
  flex-flow: row wrap;
  flex-wrap: wrap;
  padding: 0px 30px 0px 30px;
  /* flex-flow: column nowrap; */
}

/*
.main-container form {
  display: flex;
  flex-flow: column wrap;
}
*/

.parameter-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 4.1%;
}

.parameter-button-container {
  border-color: yellow;
  width: 27.5%;
  height: 100%;
  padding: 10px;
  justify-content: space-between;
}

.parameter-content-container {
  width: 66%;
  height: 100%;
  border-color: yellow;
  flex-grow: 1;
  padding: 10px;
}

//// This section is used for code only for main page ////
////                                                  ////
////                                                  ////
////                                                  ////
////                                                  ////

//This is only used for the title of the project on the main page
.main-title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

// I believe these visualized classes are used in main page
.visualizedContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.visualizedResult {
  max-height: 80%;
  max-width: 60%;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 75%;
  align-self:flex-start;
  box-shadow: rgba(31, 32, 32, 0.7) 0 0 10px;
  background-repeat: no-repeat;
  background-position: 0 0, 0 1px;
  background-size: 100% 1px;
  background-clip: border-box;
  border-radius: 3px;
  padding: 0px 0px 0px 0px !important;
}

.bi {
  width: 75px;
  height: 75px;
}

.row {
  height: 90%;
}

#login-buttons {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

#login-buttons div, form{
  align-self: center;
}

#gpxUpload {
  margin-top: 20px;
  text-align: center;
}

#gpxUpload h6, h5 {
  text-align: center;
}

#gpxFile {
  text-align: center;
  max-width: 240px;
}

#GPXSubmit {
  background: #000000 !important;
  text-align: center;
  margin-top: 20px;
  width:70%;
  align-self:center
}

////        This is the section for buttons          ////
////                                                 ////
////                                                 ////
////                                                 ////

/* not sure what these were used for
#login-buttons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

#login-buttons .row {
  display: flex;
  align-self: center;
}
*/

/* used for underarmour button that has been removed
.network-unavailable {
  opacity: 0.4 !important;
}

.network-unavailable:hover {
  cursor: not-allowed !important;
}
*/

// these are the base properties of buttons for login in main page
// and for left buttons in parameters page
.button-custom {
  background: white !important;
  border-radius: 999px !important;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.1rem; // previously 16px
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px !important;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  word-break: break-word;
  border: 0;
  display: inline;
  margin: 2.5px;
}


// this changes the color of these buttons when clicked
.button-custom:active {
  background: grey !important;
}

// this changes the color of these buttons when the mouse is over them
.button-custom:hover {
  background: lightgray !important;
  color: #333333 !important;
}

// fake button and hello button are used to create the object on
//  the parameters page that displays the user's name
// given the same properties as button-custom - superfluous?
.fake-button {
  border-radius: 999px;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px !important;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  word-break: break-word;
  border: 0;
  display: inline;
  margin: 2.5px;
}

.disabled-button {
  opacity: 0.5;
  cursor: not-allowed;
  color: white !important;
}

.material-icons {
  padding-right: 5px;
  font-size: 22px !important;
}

// this is used in parameters page to change appearance of display with user's name
.hello-button,
.hello-button:disabled {
  background: #47cd95 !important;
  color: white !important;
}

.nav-pills .nav-link.active {
  color: #333333;
  background-color: lightgrey !important;
}

#customize {
  max-width: 100% !important;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  height: 35vh;
}

#categories {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

#strava {
  background: #fc5200 !important;
  text-align: center;
}

#underarmour {
  background: #1d1d1d !important;
}

//// This section is for divs in the PARAMETERS page ////
////                                                 ////
////                                                 ////
////                                                 ////

//container ID
//used in parameters page with container class
//setting nowrap ensures that the right div isn't placed under the nav pills
/*
.sideBySide {
  display: flex;
  flex-wrap: nowrap;
}
*/

//Setting flex to one makes the two boxes take up all of the space within the container.
//Even though parameter-column inherits display: flex from the container it's in, we set
// it again so that the content within parameter-column can use flexbox properties.

/*
.parameter-column {
  //display: ;
  flex: 1;
  border: 2px solid yellow;
  align-content: center;
}

//this sets the parameters buttons to only 1/3 of the space and places a slight gap between the div with buttons
//and the div with options
.parameter-column:first-child {
  max-width: 36%;
  margin-right: 20px;
}
*/

#v-pills-activities fieldset {
  display: flex;
  flex-flow: column nowrap;
}

#v-pills-activities {
  height: 100%;
  position: relative;
}

.parameter-button {
  color: #333333;
  box-shadow: none;
}

.generate-button {
  background: #5b81e5 !important;
  color: white !important;
}

.generate-button:hover {
  background: #1d58ec !important;
  color: white !important;
}

.selectedCell {
  width: 3%;
}

.nameCell {
  width: 44%;
}

.dateCell {
  width: 19%;
}

.typeCell {
  width: 14%;
}

.distanceCell {
  width: 20%;
  text-align: right;
}

#getActivitiesButton {
  width: 25%;
}

.activityFilters {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.scrollable-table-container {
  position: absolute;
  overflow: auto;
  direction: ltr;
  scroll-behavior: smooth;
  height: auto;
  width: 100%;
  top: 9rem;
  bottom: 0;
}

#keyword {
  width: 60%;
}

#drawSettings, #backgroundSettings {
  display: flex;
  flex-flow: column wrap;
}

#activitiesTable {
  display: table;
  table-layout: fixed;
  width: 100%;
  //height:90%;
}

#activitiesTable th,
td {
  word-wrap: break-word;
}

#gridlineSettings {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

#displayGridLines {
  padding-left: 0;
  margin-left: 0;
}

#clearBackgroundButton {
  width: 50px;
  font-size:11px;
}

.tab-pane.fade.show {
  display: block !important;
}

//
//
//
// Creating CSS FOR ABOUT PAGE HERE
//
//
//
//


html {
  box-sizing: border-box;
}


#about-title {
  padding-bottom: 2%;
}

.our-team-title {
  margin: 30px;
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.about-card-link {
  font-size: 2rem;
}

.card {
  padding: 20px 20px;
  background: white;
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.25);
  margin: 8px;
}

.about-container {
  padding-left: 5%;
  padding-right: 5%;
}

.about-section {
  padding: 10%;
  padding-bottom: 5%;
  text-align: center;
  background-color: #474e5d;
  color: white;
  //margin-top: 100px;
}

// images on about page
.crop {
  overflow: hidden;
  margin: auto;
  padding-bottom: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  img {
    width: auto;
    height: 100%;
    background-position: center;
    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;
    border-radius: 100%;
  }

}

.container {
  padding: 0 px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  margin-top: 10px;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  width: fit-content;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}



// mobile css

//@media only screen and (max-width:768px),
// @media only screen and (max-width: 390px) and (-webkit-device-pixel-ratio: 3) 

@media screen and (orientation: portrait) {
  body {
    font-size: 44px;
  }

  .navbar-brand {
    font-size: 3rem;
  }

  .main-container {
    height: 95vh !important;
    //height: auto;
    width: 95vw !important;
    min-height: 0px  !important;
    min-width: 0px !important;
    margin-top: 2px;
  }


  // main container for mobile phones
  // making increases height and width
  .main-container {
    height: 80%;
    min-height: 80%;
    width: 90%;
    min-width: 90%;
  }

  .parameters {
    height: auto !important;
  }

  .parameter-container {
    display: block;
  }

  .parameter-button-container {
    width: 100%;
    justify-content: normal;
    height: auto;
  }

  .parameter-content-container {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .scrollable-table-container {
    position: static;
    height: 100%;
    overflow: scroll;
    padding-bottom: 5px;
  }

  #dateFilters {
    margin: 0;
    padding-left: 0;
  }

  .button-custom,
  .fake-button {
    font-size: 2.2rem; // previously 34px
    padding: 8px 30px !important;
  }

  h1 {
    font-size: 6rem;
  }

  h3 {
    font-size: 4rem;
  }


  // about us page for mobile

  #about-title {
    padding: 5%;
  }

  .column {
    width: 75%;
    margin: auto;
  }

  #v-pills-tab *{
    text-align:center;
  }

  .visualizedResult {
    width: 100%;
    flex: none;
    max-width: 100%;
  }

  #shareHeader {
    font-size: 2rem !important;
    margin-top: 5px;
  }
  #activitiesTable th, td {
    font-size: 2.2rem;
  }
}
//This is for the twitter logo
.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
